<h1>Log In</h1>
<!-- This form is not calling any objects -->
<%= form_tag user_sessions_path do %>
    <%= label_tag :email, "Email Address" %>
    <!-- By passing the email params will automatically populates the email submited-->
    <%= text_field_tag :email, params[ :email ] %>
    <br />

    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
    <br />

    <%= submit_tag "Log In" %>
    <%= link_to "Forget Password", new_password_path %>
<% end %>